
.footer {
  background-color: #F9F9F9;
  height: 300px;
}

.footer__inner {
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  margin-right: 100px;

}

.footer__col {
  margin-top: 70px;

}


.footer__col-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #de343d;
}

.footer__col-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #de343d;
  margin-bottom: 17px;
  transition: all .3s;
}

.footer__col-item:hover {
  transform: scale(1.1);

}

.footer__col-item:last-child {
  margin-bottom: 0;

}

.footer__col-item:first-child {
  font-weight: 800;
  font-size: 15px;
  line-height: 125%;
  color: #de343d;
  margin-bottom: 47px;
}


