.body {
  font-family: "Monument Extended", "Arial", sans-serif;
  background: var(--general-bg);
  color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.body--opened-menu {
  overflow: hidden
}

.burger-icon {
  display: none;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  z-index: 11;
  margin-left: 80vw;
}

.burger-icon span {
  position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;

  border-radius: 100px;
  background: #000;
  transition: all .4s;
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: 8px;
}

.burger-icon span::after {
  bottom: 8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

